# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/
.venv/
venv/
env/

# Тесты / кэши
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# Окружение
.env
.env.*

# IDE / ОС
.idea/
.vscode/
.DS_Store
